td{
   vertical-align: middle !important;
}
.button-group{
  padding: 0 !important;
  width: 15%;
}
.button-group button{
   margin: 0 !important;
}
.button{
   width: 45% !important;
   margin-left: 0 !important;
}
.button-no{
   float: right !important;
}