td{
   vertical-align: middle !important;
}
.button-group{
  padding: 0 !important;
  width: 15%;
}
.button-group button{
   margin: 0 !important;
}
.button{
   width: 45% !important;
   margin-left: 0 !important;
}
.button-no{
   float: right !important;
}
thead{
   border: none !important;
}
 tbody{
   -webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
   box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
}