.search-box{
    width: 30% !important;
    float: right;
    margin-right: 30px !important;
}
button{
    margin-left: 30px !important;
    float: left;
}
.add-form{
    margin: 50px !important;
}
.add-form input{
    width: 400px;
}
.btn-submit-add{
    width: 100% !important;
    margin: 0 !important;
}
.number-item{
    display: inline-flex;
    float: left;
    /* margin-top: 0.5rem; */
    margin-left: 10px;
    width: 10% !important;
}
.number-item span{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 120%;
}
